/* VALIDATA stylesheet based on bootstrap */
html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* margin-bottom by footer height + footer top margin */
  margin-bottom: 245px;
}

.footer {
  /* sticky footer */
  background-color: #f5f5f5;
  padding: 3em;
  /* margin-top: 5em; */
  height: 215px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Pop-over management */
.popover .popover-body h2 {
  font-size: 1.2em;
  font-weight: bold;
}

/* CSS trick to allow th to be styled with danger, warning, ...
   even if already using class thead-light class */
.table .thead-light th.table-danger {
  background-color: #f5c6cb;
}
.table .thead-light th.table-warning {
  background-color: #ffeeba;
}

/* Remove margin bottom for repair action items */
div.actions ul li p {
  margin-bottom: 0;
}

/* Force align=center for <th> */
body th {
  text-align: center;
}
